* {
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  border: none;
  min-height: 100%;
  user-select: none;
}

#buttonDiv {
  position: absolute;
  margin: auto;
  left: 50%;
  top: 3px;
  display: inline-flex;
  transform: translateX(-50%);
  visibility: hidden;
}

[name=textField], select, text {
  border: none;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;

  user-select: none;
  background-color: #e7e7e7;
  top: 0px;
}

[name=textField]:hover, select:hover {
  background-color:#0053ba;
}   

[name=textField]:focus, select:focus, text {
  outline: none;
}

[name=textField], select :active {
  transform: scale(0.93);
}

[name=textField] {
  width: 60px;
  border: 1px solid rgb(82, 82, 82);
  padding: 2px 2px 1px 1px;

}

option {
  background-color: #e7e7e7;
}

select {
  border: none;
  padding: 1.5px 2px 1px 2px;
}

.textDiv {
  position: absolute;
  margin: auto;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  visibility: visible;
  font-family: 'Courier New', Courier, monospace;
  user-select: none;
  width: fit-content;
}

canvas {
  background-color: transparent;
}

button {
  border: none;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  user-select: none;
}



button:focus {
  outline: none;
}

button:active {
  transform: scale(0.93);
}

#navShow button:active {
  transform: scaleY(-1);
}

#navShow button:active,
#navHide button:active {
  transform: scale(0.80);
}

#navShow, #navHide {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

#navShow {
  top: 3px;
}

#navHide {
  top: 35px;
}

#navShow button {

  margin: auto;

  padding: 1px 5px 0px 5px;
  line-height: 0;
  border-radius: 100%;
  background-repeat:no-repeat;
  border: none;
}

#navHide button {

  margin: auto;

  padding: 1px 5px 0px 5px;
  line-height: 0;
  border-radius: 100%;
  background-repeat:no-repeat;
  border: none;
  transform: scaleY(-1);
}

button img {
  width: 20px;
  height: auto;
}

button:hover {
  background: #0053ba;
}   

#canvas2 {
  position: absolute;
}

/*____ Check Box ____*/
.checkDiv [type="checkbox"] {
  width: 20px;
  height: 20px;
}

.checkDiv {
  background-color: #e7e7e7;
}

.slidecontainer {
  background: #e7e7e7;
  padding-right: 5px;
  padding-top: 3.5px;
}

button {
  background: #e7e7e7;
}

.helpDiv {
  font-size: 2vmin;
  position: absolute;
  right: 0%;
  bottom: 0%;
  visibility: hidden;
  font-family: sans-serif;
  background: transparent;
  padding: 0px 20px;
}
